body, html { 
	font-family: 'Sarala', sans-serif;
}

$dark-primary: #303F9F; 
$primary: #3F51B5; 
$light-primary: #C5CAE9; 
$text-light: #FFFFFF; 
$accent-color: #607D8B;
$primary-text: #212121; 
$secondary-text: #727272; 
$divider-color: #B6B6B6;

// START OF NAVBAR STYLES

nav {
    color: $text-light;
    background-color: $accent-color;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

// END OF NAVBAR STYLES

// START OF HERO AND SUB-HERO STYLES

#hero-section {
	height: 750px;
	padding-top: 30px;
	padding-bottom: 40px;
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#sub-hero-section {
	background-color: $accent-color;
	color: $text-light;
	height: 60px;

	h4 {
		margin: 0;
		padding: 10px;
	}
}

// END OF HERO AND SUBHERO STYLES

// START OF REGISTRATION SECTION STYLES

#registration-section {
	padding: 50px;

	h1 {
		padding-left: 150px;
	}

	form {
		padding-right: 60px;
		width: 80%;
	}
}

.grad {
  background: -webkit-linear-gradient(right, #E6E3DE, #F6F7F9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #E6E3DE, #F6F7F9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #E6E3DE, #F6F7F9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #E6E3DE, #F6F7F9); /* Standard syntax */
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid $accent-color;
    box-shadow: 0 1px 0 0 $accent-color
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: $accent-color;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn:hover, .btn-large:hover {
    background-color: $accent-color;
}

// END OF REGISTRATION SECTION STYLES

