	<!DOCTYPE html>
<html>
<head>
	<base href="http://localhost:8000/">
	<title>setupshop register</title>
</head>
<body>

	<nav>
		<div class="nav-wrapper">
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="#/shops">See Shops</a></li>
			</ul>
		</div>
	</nav>

	<div id="hero-section">
		<div class="header center-align responsive-img">
			<h1>Set Up Shop</h1>
			<h4>Simple shopping and selling.</h4>
		</div>
	</div>

	<div id="sub-hero-section">
		<div class="center-align">
		<h4>"I can't believe it's not butter!" - ABC Magazine</h4>
		</div>
	</div>

	<div id="registration-section" class="grad">
		<div class="container-fluid">
			<div class="row">

				<div class="col s6">
					<h1>Join our community.</h1>		
				</div>

				<div class="col s6">
					<form ng-submit="ctrl.register()" role="form">
						<div class="form-group">
							<label>email</label>
							<input type="email" name="email" ng-model="ctrl.registrationForm.email" required="required" class="form-control"/>
						</div>

						<div class="form-group">
							<label>password</label>
							<input type="password" name="password" ng-model="ctrl.registrationForm.password" required="required" class="form-control"/>
						</div>

						<div class="form-group">
							<label>password confirmation</label>
							<input type="password" name="password_confirmation" ng-model="ctrl.registrationForm.password_confirmation" required="required" class="form-control"/>
						</div>

						<button type="submit" class="btn btn-primary btn-lg">Register</button>
					</form>
				</div>
			
			</div>
		</div>

	</body>

	</html>